.navbar {
  &__container {
    max-width: 1250px;
    width: 100%;

    display: grid;
    grid-template-columns: auto 1fr;
  }
  &__logo-img {
    height: 3rem;
    max-height: 100%;
    width: auto;
  }
  &__items {
    display: grid;
    justify-content: center;
  }
  &__ul {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
  }
}
